<div class="container my-4">
    <div class="card border-0 shadow-sm">
        <div class="card-header bg-light fw-bold fs-4">
            My Profile
        </div>
        <div class="card-body">
            <div class="mb-3">
                <label class="text-muted">Name</label>
                <div>{{account.title}} {{account.firstName}} {{account.lastName}}</div>
            </div>
            <div class="mb-3">
                <label class="text-muted">Email</label>
                <div>{{account.email}}</div>
            </div>
            <div class="mb-3">
                <label class="text-muted">Role</label>
                <div class="text-capitalize">{{account.role}}</div>
            </div>
            <div class="mb-4">
                <label class="text-muted">Status</label>
                <div>
                    <span class="badge rounded-pill" [ngClass]="{
                              'bg-success': account.status === 'active',
                              'bg-secondary': account.status !== 'active'
                          }">
                        {{account.status}}
                    </span>
                </div>
            </div>
            <a routerLink="update" class="btn btn-outline-dark">Update Profile</a>
        </div>
    </div>
</div>