html,
body,
app-root {
    height: 100% !important;
    margin: 0;
}

body {
    background-color: #fafafa !important;
    background-image: radial-gradient(#dcdcdc 2.5px, transparent 1.5px);
    background-size: 20px 20px !important;
    animation: moveDots 20s linear infinite !important;
}

@keyframes moveDots {
    0% {
        background-position: 0 0;
    }

    100% {
        background-position: 100px 100px;
    }
}


a {
    cursor: pointer;
}

.app-container {
    min-height: 320px;
}

.admin-nav {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #e8e9ea;
    border-bottom: 1px solid #ccc;
}

.btn-delete-account {
    width: 40px;
    text-align: center;
    box-sizing: content-box;
}

/* Badge Styles */
.badge {
    font-size: 1rem !important;
    padding: 0.5rem 0.6rem !important;
}

/* Custom badge colors */
.badge.bg-info {
    color: white !important;
    background-color: #17a2b8 !important;
}

.badge.bg-success {
    color: #fff !important;
    background-color: #28a745 !important;
}

/* Table Styles */
td,
th {
    text-align: center !important;
    vertical-align: middle !important;
}